{% extends 'base.html.j2'%}
{% block title %}
Pokemon!
{% endblock %}

{% block content %}

<div>
    <button type="button" href="{{url_for('pokemon')}}" class="btn btn-outline-danger">Danger Pokemon Crossing></button>
</div>

{% endblock %}